@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  width: 400px;
  margin: 0;
  padding: 10px 25px;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 25px;
  margin-bottom: 25px;
  background: #fafafa;
}

h1 {
  font-size: 1.2rem;
  font-weight: regular;
  margin-bottom: 20px;
}

.codez {
  font-weight: 600;
  font-family: monospace;
  font-size: 1rem;
}

.input-form {
  display: block;
  margin-top: 20px;
}

#code {
  font-size: 1.3rem;
  font-weight: bold;
  font-family: "Open Sans", sans-serif; 
}

.input-field {
  padding: 5px 10px;
  width: 250px;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
  border-radius: 2px;
  border-width: 0.5px;
  border-color: #353b48;
}

.submit-field {
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
  width: 100px;
  padding: 6px 10px;
  background: #fbc531;
  border: none;
  border-radius: 2px;
  color: #ffffff;
  /*height: 42.5px;*/
}

 .request-button {
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
  padding: 6px 10px;
  background: #fbc531;
  border: none;
  border-radius: 2px;
  color: #ffffff;
 }

 #clear-data {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #fbc531;
  border: none;
  border-radius: 2px;
  color: #ffffff;
 }